openapi: 3.0.3
info:
  title: Java API Requests and Responses Workshop - Core Criteria
  description: Core API for the Requests and Repsonses workshop
  version: 0.0.2

servers:
  - url: http://localhost:4000
tags:
  - name: authors
paths:
  /authors:
    post:
      tags:
        - authors
      summary: Route to use (with a payload) when creating a new author
      description: New author creation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthor'
      responses:
        201:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Author'
    get:
      tags:
        - authors
      summary: Plain GET to access the whole list
      description: Get all of the listed authors
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllAuthors'
  /authors/{id}:
    get:
      tags:
        - authors
      summary: Get a specific author using their ID
      description: Get one author from the list
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Author'
    put:
      tags:
        - authors
      summary: Update an existing author
      description: use the ID of an author to update them using the payload
      parameters:
        - name: id
          in: path
          description: The ID of the author to update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthor'
      responses:
        201:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Author'
    delete:
      tags:
        - authors
      summary: Delete an author using the ID
      description: Delete an author using their ID
      parameters:
        - name: id
          in: path
          description: The ID of the author to delete
          required: true
          schema:
            type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Author'

components:
  schemas:
    CreateAuthor:
      type: object
      required: [name, email]
      properties:
        name:
          type: string
          example: "JRR Tolkien"
        email:
          type: string
          example: "jrr@tolkien.com"
    Author:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "JRR Tolkien"
        email:
          type: string
          example: "jrr@tolkien.com"
    AllAuthors:
      type: array
      items:
        $ref: '#/components/schemas/Author'
